*.a
*.o
.deps
Makefile
Makefile.in
README
bin
libvarexp.html
tests/empty-search-pattern
tests/expand-character-class
tests/expand1
tests/expand2
tests/expand3
tests/expand4
tests/expand5
tests/expand6
tests/offset-failure
tests/unescape
user-manual.html
