# ignore object files

*.a
*.o

# ignore files installed by autoconf/automake

/.deps/*
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/*
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/tests/.deps/*
/tests/Makefile
/tests/Makefile.in

# ignore test binaries

/tests/empty-search-pattern
/tests/expand-character-class
/tests/expand1
/tests/expand2
/tests/expand3
/tests/expand4
/tests/expand5
/tests/expand6
/tests/offset-failure
/tests/unescape
